@using HotelsBookingSystem.ViewModels
@model RoleViewModel
@{
    Layout = null;
}

<head>
    <title>Add New Role</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/Tala.css"> *@
</head>
<body>
    <div class="background-container">
        <div class="form-container">
            <h2 class="form-title">Add New Role</h2>

            <form asp-action="New" asp-controller="Roles" method="post" class="admin-form">
                <div class="form-group">
                    <label asp-for="Role">Role Name</label>
                    <input asp-for="Role" class="form-control" placeholder="Enter Role name"  />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-submit">Add Role</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>


